name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-elixir@v3
        with:
          otp-version: '25'
          elixir-version: '1.14.2'
      - run: mix deps.get
      - run: mix test