name: learn-github-actions
on: [push]
jobs:

    setup-elixir:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - uses: actions/setup-elixir@v1
                with:
                    otp-version: '25'
                    elixir-version: '1.14.2'
            if: failure()
            run: exit 0

    failed to setup:
        runs-on: ubuntu-latest
        needs: setup-elixir
        steps:
            if: failure()
            run: ps -wlT
            run: exit 0

    build:
        runs-on: ubuntu-latest
        if: success()
        needs: setup-elixir
        steps:
            name: get dependencies
            run: mix deps.get
            run: exit 1
    
    test:
        runs-on: ubuntu-latest
        needs: build
        if: success()
        steps:
            name: run ExUnit
            run: mix test