name: learn-github-actions
on: [push]
jobs:
  setup-elixir:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup elixir
        uses: erlef/setup-elixir@v1
        with: 
          otp-version: '25'
          elixir-version: '1.14.2'
      - run: cd ex_github_actions
      - run: mix deps.get
      - run: mix test
      - run: exit 1

    